/* src/SlidingPanel.css */
.econtainer {
  position: relative;
}

.etoggle-button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.epanel {
  position: fixed;
  top: 5.5rem;
  bottom: 0;
  right: -350px; /* Start off-screen to the right */
  width: 300px; /* Width of the panel */
  height: 100%; /* Corrected height property */
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease; /* Smooth transition */
  padding: 8px;
  z-index: 500;
}

.epanel.open {
  right: 0; /* Move the panel into view */
}

.ecardStyle {
  width: 90%;
  margin-top: 5px;
  padding: 5px;
  cursor: grab;
}
