.maincustom{
    background-color: rgb(250, 249, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 30px;
    width:7rem;
    padding-left: 15px;
    border: 2px solid rgb(193, 193, 193);
    border-radius: 10px;
}
.customimg{
    padding-left: 5px;
    padding-top: 5px;
}