.mainfunctioncustom{
    background-color: rgb(250, 249, 248);
    box-shadow: 0px 0px 20px 1px rgb(187, 186, 186);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;

}



